body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.ContainerPhrase{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: auto;
  flex-direction: column;
  border-radius: 64% 36% 0% 100% / 53% 100% 0% 47% ;
  padding: 5rem;
}

.Phrase .Author{
  padding: 1rem;
  margin: 1px;
}

button {
  background: rgb(212, 209, 28);
  border: solid 1px ;
  width: 100px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  padding: 5px;
  margin: 15px;
  transition: all, 0.3s;
}

button:hover{
  border: solid 1px orange ;
  background: rgba(130, 100, 240, 0.719);
  color: black;
}

.Tittle{
  color: white;
  margin: 25px;
  background-color: rgba(128, 128, 128, 0.397);
  width: 100%;
}
